.nimbusBold{font-family:'NimbusMonL-Bol',sans-serif;}html.ASIA .nimbusBold{font-family:'NimbusMonL-Bol',Asian,sans-serif;}
.nimbusReg{font-family:'NimbusMonL-Reg',sans-serif;}html.ASIA .nimbusReg{font-family:'NimbusMonL-Reg',Asian,sans-serif;}
.capitoliumReg{font-family:'Capitolium2-Regular',sans-serif;}html.ASIA .capitoliumReg{font-family:'Capitolium2-Regular',Asian,sans-serif;}
