.nimbusBold{font-family:'NimbusMonL-Bol',sans-serif;}html.ASIA .nimbusBold{font-family:'NimbusMonL-Bol',Asian,sans-serif;}
.nimbusReg{font-family:'NimbusMonL-Reg',sans-serif;}html.ASIA .nimbusReg{font-family:'NimbusMonL-Reg',Asian,sans-serif;}
.capitoliumReg{font-family:'Capitolium2-Regular',sans-serif;}html.ASIA .capitoliumReg{font-family:'Capitolium2-Regular',Asian,sans-serif;}
.doNotDeletePlease{color:red;}
.footer-font{font-size:0.9375em;}
body{letter-spacing:2px !important;}
.contact-description{font-size:0.75em;}
.mylv-bubble-content #createAccount{padding-right:1%;}
body{letter-spacing:2px !important;}
.contact-description{font-size:0.75em;}
#wishListWrapper .menu .accessToSaveWishlist{font-size:0.7em !important;}
